@import url('fonts.css');

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --main-background-color: #113662;
    --secondary-background-color: #c7c7c7;
    --main-font-color: #000;
    --secondary-font-color: #ffffff;
    --menu-background-color: #174680;
    --menu-background-hover-color: #113662;
    --menu-font-color :#ffffff;
    --menu-hoover-color :#c7c7c7;
    --primary-font-family: "Roboto", "Open Sans", sans-serif;
    --secondary-font-family: "Poppins", "Open Sans", sans-serif;
}

body {
    display: grid;
    min-height: 100vh;
    background-color: var(--secondary-background-color);
    color: var(--main-font-color);
    grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    color: var(--main-font-color);
    font-family: var(--primary-font-family);
    font-weight: 400;
}

header {
    background-color: var(--main-background-color);
    min-height: 100px;
    align-items: center;
    justify-items: center;
}

header img {
    display: block;
    max-height: 100px;
}

footer {
    background-color: var(--main-background-color);
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-font-color);
}

.row {
    height: fit-content;
    flex-wrap: wrap;
}

.col-2 {
    width: 49.5%;
    position: relative;
    min-height: 1px;

}

.col-3 {
    width: 33%;
    position: relative;
    min-height: 1px;
}

.col-4 {
    width: 24.5%;
    position: relative;
    min-height: 1px;
}

.container_menu {
    display: flex;
    max-width: 100%;
    justify-content: center;
    background-color: var(--menu-background-color)
}

.menu {
    background-color: var(--menu-background-color);
    width: 60%;
    display: flex;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-left: 1px solid var(--menu-background-hover-color);   
}

.menu ul li {
    position: relative; 
    width: 100%;
}

/* Menu Links */
.menu ul li a {
    display: block;
    color: var(--menu-font-color);
    font-size: 1em;
    font-family: var(--secondary-font-family);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 20px;
}

.menu ul li a:hover {
    background-color: var(--menu-background-hover-color);
    color: var(--menu-hoover-color);
}

/* Dropdown Content */
.menu .dropdown-content {
    display: none; /* Hidden by default */
    position: absolute; /* Positioned relative to the parent */
    top: 100%; /* Places dropdown below the parent */
    left: 0;
    background-color: var(--menu-background-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    left: 50%; /* Positions the dropdown's left edge at the center of the parent */
    transform: translateX(-50%); /* Centers the dropdown horizontally */
    width: 200px;
    z-index: 1;
}

.menu .dropdown-content li {
    border-bottom: 1px solid var(--menu-background-hover-color); /* Optional: adds dividers */
}

.menu .dropdown-content li a {
    font-size: 0.8em;
    font-family: var(--secondary-font-family);
    text-transform: uppercase;
    padding: 10px 16px;
    color: var(--menu-font-color);
}

.menu .dropdown-content li a:hover {
    background-color: var(--menu-background-hover-color);
    color: var(--menu-hoover-color);
}

/* Show Dropdown on Hover */
.menu .dropdown:hover .dropdown-content {
    display: block; /* Display the dropdown */
}

.container_section {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.line {
    color: var(--menu-font-color);
    padding-top: 2em;
    margin-top: 2em;
    border-top: 5px solid rgba(255, 255, 255, 0.3); 
}

.container_section h2 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
}

.container_title {
    width: 100%;
}

/* Apply vertical lines to elements with the new class */
.with-divider {
    position: relative; /* Required for pseudo-elements */
    color: var(--menu-font-color);
    border-right: 3px solid rgba(255, 255, 255, 0.3); 
}

.status-item {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin: 5px 10px;
}

.status-item h4 {
    font-family: var(--primary-font-family);
    font-size: 1em;
    width: 250px;
}

.status-item span {
    width: 100%;
    height: 1.15em;
    margin: 0px;
    padding: 0 5px;
    border-radius: 30px;
    text-align: center;
    background-color: var(--menu-font-color);
    color: var(--main-font-color);
    font-size: 16px;
}

.message_ok {
    color: #056302 !important;
    font-weight: 600 !important;
}

.message_fail {
    color: #7c0202 !important;
    font-weight: 600 !important;
}

.message_alarm_on {
    color: #f70707 !important;
    font-weight: 600 !important;
    text-transform: uppercase;
}

.message_alarm_off {
    color: #0bb905 !important;
    font-weight: 600 !important;
    text-transform: uppercase;
}

@media screen and (max-width: 1080px) {
    .menu {
        width: 80%;
    }

    .menu .dropdown-content {
        width: 180px;
    }

    .container_section .col-4, .container_section .col-3 {
        width: 49%;
        margin-top: 20px;
    }


}

@media screen and (max-width: 768px) {
    .menu {
        width: 100%;
    }

    .menu .dropdown-content {
        width: 164px;
    }

    .container_section .col-4, .container_section .col-3 {
        width: 100%;
        margin-top: 20px;
    }

    .with-divider {
        border: 0px;
    }
}

.status-item input {
    width: 100%;
    height: fit-conten;
    margin: 4px;
    padding: 0 5px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    background-color: var(--menu-font-color);
    color: var(--main-font-color);
    font-size: 16px;
}

.status-item select {
    width: 100%;
    height: fit-conten;
    margin: 4px;
    padding: 0 5px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    background-color: var(--menu-font-color);
    color: var(--main-font-color);
    font-size: 16px;
}

.status-item button {
    width: 100%;
    height: fit-conten;
    margin: 4px;
    padding: 0 5px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    background-color: var(--menu-font-color);
    color: var(--main-font-color);
    font-size: 16px;
}

.status-submit {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin: 5px 10px;
}

.status-submit input {
    width: 20%;
    height: fit-conten;
    margin: 15px;
    padding: 0 5px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    background-color: var(--menu-font-color);
    color: var(--main-font-color);
    font-size: 13px;
    gap: 2px;
}

.status-submit button {
    width: 20%;
    height: fit-conten;
    margin: 15px;
    padding: 0 5px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    background-color: var(--menu-font-color);
    color: var(--main-font-color);
    font-size: 13px;
    gap: 2px;
}

.system-log {
    display: flex;
    text-align: center;
    gap: 20px; 
    margin: 5px 10px;
}

.system-log span {
    width: 100%;
    height: fit-conten;
    margin: 5px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    background-color: var(--menu-font-color);
    color: var(--main-font-color);
    font-size: 16px;
}