*{
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    min-height: 100vh;
    background-color: white;
    color: black;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #113662;
    min-height: 100px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
}

main {
    display: flex;
}

footer {
    background-color: #113662;
    min-height: 25px;
}

.menu {
    position: relative;
    background-color: #113662;
    padding: 10px;
}

.menu ul {
    display: block;
}

.menu strong {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding-top: 10px;    
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 2px 6px 2px 6px;
}

.menu li a:hover {
    color: yellow;
}

#content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
